html, body, #root {
  height: 100%;
  font-family: polaris;
}
.App {
  text-align: center;
  height: 100%;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #31393c;
  
  /* height: 200px; */
  padding: 20px;
  /* padding-top: 130px; */
  margin-top:70px;
  color: white;
   
}

@-webkit-keyframes glowing-logo {
  0% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes glowing-logo {
   0% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-o-keyframes glowing-logo {
   0% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes glowing-logo {
   0% {
    opacity: 0.4;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.App-header h1 {
   -webkit-animation: glowing-logo 5s infinite;
   -moz-animation: glowing-logo 5s infinite;
   -o-animation: glowing-logo 5s infinite;
   animation: glowing-logo 5s infinite;
  
  padding-top: 50px;
  font-size: 80px;
  color: #469CF1;
  opacity: 0.5;
  /* display:inline; */
  /* width: 0px; */
  margin: 0 auto;
  /* background-color: red; */
    transition: opacity .75s ease-in-out;
    padding-bottom: 20px;

}

.App-header h1:hover {
  opacity: 1;
  transition: opacity .75s ease-in-out;
}

.App-header h2{
  /* color:#f79824; */
    font-family: polaris;

}
.App-header h3{
  padding-bottom: 40px;
  padding-top: 10px;
    font-family: polaris;
    font-size: 24px;

  /* color:#fdca40; */
}
@media(max-width: 767px) {
  .App-header{
    margin-top: 70px;
  }
}

button {
  font-size: 14px;
  border-radius: 10px;
  position:relative;
  /* margin-top: -10px; */
  /* max-width: 100px; */
  background-color: white;
  border-color: black;
  margin-bottom: 30px;
  padding: 10px;
  margin-top: 10px;
  box-shadow:3px 3px #AAA;
      transition: box-shadow,
      .1s;
    transition: background-color,
    .25s;
        outline:0;

}

h1, h2, h3 {
  font-family:polaris-bold;
}

button:hover {
  background-color: #fdca40;
  cursor: pointer;
  
    transition: background-color, .25s;
}

button:active {
  background-color: #f79824;
  box-shadow: -1px -1px #555;
      transition: box-shadow,
      .1s;
  transform: translate(1px, 1px);
}

input {
  font-size: 16px;
  margin-right: 10px;
  padding-left: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px #999;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  margin: 0 auto;
  width: 80%;
}

.hidden {
  display:none;
}

.hiddenBlock {
  visibility: hidden;
}

.footer {
  font-size: 10px;
  margin: 20px;
}

.sticky-nav {
  position: fixed;
  border-bottom: 1px solid black;
  top: 0;
  width: 100%;
  right: 50%;
  z-index: 500;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.justify-end{
  margin-left:auto;
}

.splash-message {
  padding-bottom: 50px;
}