html, body, #root {
  height: 100%;
  font-family: polaris;
}
.App {
  text-align: center;
  height: 100%;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-top: 70px;
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}
@media(max-width: 767px) {
  .App-header{
    margin-top: 70px;
  }
}

button {
  font-size: 14px;
  border-radius: 10px;
  /* margin-top: -10px; */
  /* max-width: 100px; */
  background-color: white;
  border-color: black;
  margin-bottom: 30px;
  padding: 10px;
  margin-top: 10px;
  box-shadow:2px 2px #AAA;
      transition: box-shadow,
      .5s;
    transition: background-color,
    .5s;

}

h1, h2, h3 {
  font-family:polaris-bold;
}

button:hover {
  background-color: #469CF1;
  box-shadow: 1px 1px #AAA;
  cursor: pointer;
    transition: background-color, .5s;
    transition: box-shadow, .5s

}
input {
  font-size: 16px;
  margin-right: 10px;
  padding-left: 5px;
  border: 1px solid black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  margin: 0 auto;
  width: 80%;
}

.hidden {
  display:none;
}

.hiddenBlock {
  visibility: hidden;
}

.footer {
  font-size: 10px;
  margin: 20px;
}

.sticky-nav {
  position: fixed;
  border-bottom: 1px solid black;
  top: 0;
  width: 100%;
  right: 50%;
  z-index: 500;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.justify-end{
  margin-left:auto;
}
