.builtWord{
    display:flex;
    justify-content:center;
    align-items: center;
}

.builtWord > p {
    margin-left: 10px;
    margin-right: 10px;
}

.buttons > button {
    /* width: 100%; */
        max-width: 100%;
        margin-right: 10px;
        margin-left: 10px;
}
