.builtWord{
    position: fixed;
    border-bottom: 1px solid black;
    top: 0;
    width: 100%;
    right: 50%;
    z-index: 500;
    left: 0;
    background-color: white;
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.builtWord > p {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}



.buttons > button {
    /* width: 100%; */
        max-width: 100%;
        margin-top: 0px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        font-size: 12px;
        padding: 10px;
}
input {
    margin-top: -14px;
}

@media(max-width: 767px) {
    .builtWord {
        flex-direction: column;
        padding-top: 5px;
        /* height:60px; */
    }

    .buttons > button {
        margin-bottom: 10px;
    }

    .builtWord > p {
        margin-bottom: 10px;
    }
    /* .buttons {
        flex-direction: column;
    } */
    input {
        margin: 10px;
        margin-top: 0px;
    }
}

