sup {
    font-size: 10px;
    margin-bottom: 0px;
}

.entry {
    text-align: left;
    /* display:flex; */
    /* justify-content: flex-start; */
    /* align-items:center; */
}


.entry > h2 {
    margin-bottom: 0px;
}

.entry > p {
    margin-top: -5px;
}

.heisig {
    text-align:center;
}

.word{
    /* width: 50%; */
    min-width: 100px;
    max-width: 250px;
}
.jisho {
    text-align: left;
    margin-bottom: 20px;
}

.heisig > div > div > div > button {
   
        max-width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
}

.heisig-entries {
    display:flex;
    justify-content: center;
    margin-top: 26px;
}

.heisig-entries p {
  min-height:50px;
}

@media(max-width:768px) {
    .heisig-entries {
        flex-direction:column;
    }
}
@media(max-width:480px) {
    .heisig-entries{
        font-size: 14px;  
    }

    .heisig-entries p {
        min-height: 0px;
    }

    .entry {
        justify-content: space-between;
    }
    .sense {
        width: 200px;
        line-height: 20px;
    }
    .entry > div > h2 {
        font-size: 1.5rem
    }
}