
.history-widget-container {
    position: fixed;
    flex-direction:column;
    bottom: 0;
    right: 25px;
    z-index: 500;
    /* left: 0; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
     background:none;   
     /* min-width: 175px;
     max-width: 280px; */
     }



.history-widget-container>button {
    box-sizing: border-box;
    border: 2px solid black;
    width: 75px;
    height:75px;
    border-radius: 100%;
    transition: border,
    .25s;
    transition: width,
    .75s;
        outline: 0;

}

.history-widget-container > button :hover {
    box-sizing: border-box;
    border: 2px solid black;
    transition: border, .25s;
}
.history-widget {
    overflow-x: hidden;
    white-space: nowrap;
    max-height: 425px;
}

.expanded {
    width: 100% !important;
    border-radius: 0% !important;
    transition: border, .75s;
    transition: width, .75s;
}

.history-widget-list {
    box-shadow: 2px 2px #999;
    background:white;
    z-index: 502;
}

.history-item-header {
    height: 50px;
}

.history-item {
    border: 2px solid black;
    border-bottom: none;
    padding: 10px;
    min-width: 175px;
    max-width: 280px;
   
}

.history-item-button {
    background-color: white;
    box-shadow: 2px 2px #AAA;
    transition: box-shadow,
    .1s;
    transition: background-color,
    .25s;
    outline: 0;
}

.history-item-button:hover {
  background-color: #fdca40;
    cursor: pointer;
    transition: background-color, .25s;
}

.history-item-button:active {
  background-color: #f79824;
    box-shadow: -1px -1px #555;
    transition: box-shadow, .1s;
    transform: translate(1px, 1px);
}


.fadeInRight {
    height: auto !important;
    width: 100%;
}

.fadeOutDown {
    /* position: absolute; */
    height: 0px;
     /* visibility:hidden; */
     /* border: none; */
    width: 0px; 
    /* transition-delay: 2s;
    transition: height 1s, */
    /* width 1s; */
    /* height: 0px; */
    z-index:0;
    transition: height 1s ease-in-out, width 1s ease-in-out;
}