.history-widget {
    position: fixed;
    display:flex;
    flex-direction:column;
    bottom: 0;
    right: 25px;
    z-index: 500;
    /* left: 0; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.history-widget>button {
    box-sizing: border-box;
    border: 2px solid black;
    width: 75px;
    height:75px;
    border-radius: 100%;
    transition: border,
    .25s;
}

.history-widget > button :hover {
    box-sizing: border-box;
    border: 2px solid black;
    transition: border, .25s;
}

.history-item {
    border: 1px solid black;
    padding: 10px;
    min-width: 75px;
}